# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example


# .env files --> .env template is used to show what should be kept in the .env file
.env

# firebase config
/app/services/firebase/firebaseConfig.ts

# Google Platform Config 
/app/hooks/googlePlatformConfig.ts
app/hooks/client_secret.json

# android build
android/